<% provide(:title, 'Sign up') %>
<div class="container">
<h1>Sign up</h1>
<% if @user.errors.any? %>
  <div class="alert alert-danger">
      The form contains <%= pluralize(@user.errors.count, "error") %>.
    <ul>
    <% @user.errors.full_messages.each do |msg| %>
      <li>* <%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>
<div class="row">
  <div class="form_sign_up">
    <%= form_for(@user) do |f| %>

      <%= f.label :name , "User Name"%>
      <%= f.text_field :name , class:"form-control"%>

      <%= f.label :email %>
      <%= f.text_field :email , class:"form-control"%>

      <%= f.label :password %>
      <%= f.password_field :password , class:"form-control"%>

      <%= f.label :password_confirmation, "Repeat password" %>
      <%= f.password_field :password_confirmation , class:"form-control" %>
      <br/>
      <%= f.submit "Create account", class: "btn btn-lg btn-primary btn-block" %>
    <% end %>
  </div>

</div>
</div>
