<%= form_for :song , url: music_path do |f| %>
  <p>
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </p>
 
  <p>
    <%= f.label :url %><br>
    <%= f.text_area :url %>
  </p>
  
  <p>
    <%=f.label :song_tag_names %>
    <%=f.text_field :song_tag_names %>
  </p>

  <p>
    <%= f.submit %>
  </p>
<% end %>