<footer id="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-4 col">
        <div class="block contact-block"> 
          <h3> > User.getContactInfo();</h3>
          <address>
          <p><abbr title="Email"><i class="fa fa-envelope"></i></abbr> <%= image_tag("email.png" , alt:"", width: "50%") %> </p>
         
          <p><abbr title="Address"><i class="fa fa-home"></i></abbr> Sevilla, Spain</p>
          </address>
        </div>
      </div>
      <div class="col-md-4 col">
        <div class="block">
          <h3> > $("social_networks li").get()</h3>
       
           <p><abbr title="twitter"><i class=""></i></abbr> <%=link_to "@mruizinfo" ,"https://twitter.com/mruizinfo", :alt => "My twitter account"%></p>
           <p><abbr title="linkedin"><i class=""></i></abbr> <%=link_to "Linkedin" ,"http://linkedin.com/in/myguelruiz", :alt => "My linkedin profile"%></p>
           <p><abbr title="github"><i class=""></i></abbr> <%=link_to "Github" ,"https://github.com/migueloop", :alt => "My gihub profile"%></p>
           <p><abbr title="github"><i class=""></i></abbr> <%=link_to "Google code" ,"https://code.google.com/u/102557418065323962634/", :alt => "My google code profile"%></p>
           
        </div>
      </div>
      <div class="col-md-4 col">
        <div class="block newsletter">
          <h3> > tail -f catalina.out</h3>
          <ul>
            <li><p>10/03/14 - Launched first release!</p></li>
          </ul>
        </div>
      </div>
    </div>    
  </div>


<div class="bottom-line">
      <div class="container">
        <p class="pull-right"><a href="#">Back to top</a></p>
        <small>Lovely built by mruiz 
        | <%= image_tag("icons/cc.png", size: "14", :alt => "Creative Commons licence ") %> <%=link_to "Creative Commons license" ,"http://creativecommons.org/licenses/by-sa/4.0/", :alt => "Creative Commons License"%>
        | Made on <%= link_to( image_tag("icons/kubuntu.png", size: "14", :alt => "") , 'http://www.kubuntu.org/', :alt => "kubuntu" , :target => "_blank")%> with valid HTML and CSS
      </small>
      </div>
    </div>

</footer>

